<h1>Привет от Rails</h1>
<p>
    Сейчас <%= @time.hour%>
    или <%= @time %>
</p>
<p>
    Пора сказать <%= link_to 'до свиданья', say_goodbay_path %>!<br><br>
    1+2 = <%= 1+2 %><br>
    cow + boy = <%= 'cow'+'boy' %>
    <ul>
        <% for file in @files %>
        <li>file name is: <%= file %></li>
        <% end %>
    </ul>
</p>